<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Editing Supermarket</h1>

  <div class="row mt-3">
    <div class="col">
      <%= render 'form', supermarket: @supermarket %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= link_to 'Show', @supermarket %> |
      <%= link_to 'List', supermarkets_path %>
    </div>
  </div>
</div>

