<h1>New Price<%== " for #{@product_price.product&.name}" unless @product_price.product.nil? %></h1>

<%= render 'product_prices/form', product_price: @product_price %>

<%= link_to 'List', product_prices_path %>
